body {
  background-color: #000;
  color: #44d087;
  font-size: 1rem;
  font-family: "Sora", sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.blob-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob {
  position: absolute;
  width: 40rem;
  height: 40rem;
  z-index: -1;
  filter: blur(0.5rem);
  transform: scale(1.6);
  overflow: hidden;
}

.blob:nth-child(2) {
  filter: blur(3rem);
}

.one {
  top: 80vh;
}

@media screen and (min-width: 768px) {
  .blob {
    position: absolute;
    width: 100vw;
    height: 40rem;
    z-index: -1;
    filter: blur(0.5rem);
  }
}

.minicon {
  margin: auto;
  display: flex;
  gap: 4rem;
  justify-content: center;
  min-height: 25rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
  margin: 0;
  padding: 3rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highref {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.button,
input {
  border: 0.1rem #44d087 solid;
  border-radius: 0.5rem;
  padding: 0.4rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.score-list {
  border: 0.1rem #44d087 solid;
  padding: 0;
  list-style: none;
  margin: 0;
  width: 100%;
}

li {
  padding: 0.2rem;
}

.score-list li:nth-child(odd) {
  background-color: #44d087;
  color: #fff;
}

.add-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.submit.button {
  align-self: flex-end;
}
