body {
  background-color: bisque;
  font-size: 1rem;
  font-family: "Sora", sans-serif;
}

.minicon {
  margin: auto;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
  margin: 0;
  padding: 2rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highref {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.button,
input {
  border: 0.1rem #000 solid;
  border-radius: 0.5rem;
  padding: 0.4rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.score-list {
  border: 0.1rem #000 solid;
  padding: 0;
  list-style: none;
  margin: 0;
  width: 100%;
}

li {
  padding: 0.2rem;
}

.score-list li:nth-child(odd) {
  background-color: #000;
  color: #fff;
}

.add-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
